
<html>
<head>
    <title></title>
</head>
    <!-- CSS only -->
<body>
    <div class='d-flex h-100'>
        <div id='asset-viewer' class="d-flex h-100 flex-column">
            <div id="mesh-viewer" class="flex-fill">
            
            </div>

            <div id='asset-store' class='flex-fill'>
                <ul></ul>
            </div>
        </div>
        
        <div class="flex-fill d-flex flex-column" id='ctrl-panel'>
            <div id="views" class="flex-fill">

            </div>
            <div id="ctrls" class="flex-fill">
            </div>
        </div>
    </div>

    <script src='http://localhost:9000/dist.js'></script>
</body>
</html>