html, body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: #3e3939 ;
  font-size: 14px;
}

#asset-viewer {
  flex: .6;
  width: 40%;
}
#mesh-viewer {
  padding: 20px;
  canvas {
    margin: auto;
  }
}
#asset-store {
    border-top:  1px solid #FFF;
    color: #aaa;
    height: 100%;
    .asset-details {
      padding: 20px;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align:center;

    li {
      position: relative;
      margin-bottom: 50px;
      a {
        display: block;
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        &.active {
                background: #00b4ffd4;
                border-radius: 50%;
        }
      }
      margin-right: 20px;
      display: inline-block;
      img {
        width: 120px;
        transition: .2s all ease-in-out;
        &:hover {
          transform: scale(1.2)
        } 
      }
      .asset-name {
        position:absolute;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
  display: flex;
  .asset-types {

    ul {
      background: #585858;
      color: #FFF;
      display: flex;
      li {
        font-weight: bold;
        
        margin: 0;
        a {
          display: block;
          color: inherit;
          text-decoration: none;
          padding: 30px 10px;
          &.active {
            background:#3e3939;
          }
        }
      }
      margin: 0;
      padding: 0;
    }
    writing-mode: tb-rl; 
  }
}

#ctrl-panel {
  border-left: 1px solid #FFF;
  ul {list-style:none; padding: 0;}
  color: #fff;
  #ctrls {
    border-top: 1px solid #FFF;
    max-height: 40%;
    overflow: auto;
    .segment {
      h4 {
          font-size: 2em;
            border-bottom: 1px dashed #fff;
            padding: 10px;
            background: #272727;
            color: #fff;
        }
    }
  }

  h6 {
    font-size: 1.5em;
    padding: 10px;
  }
  .slider {
    width: 400px;
    
  }
  .MuiSlider-markLabel  {
      color:#FFF !important;
    }
  .segment-ctrls {
    padding: 40px;
    &.horizontal {
      display: flex;
    }
  }
  .react-colorful {
    height: 150px;
    width: 150px;
  }
  .MuiButtonBase-root {
    font-weight: bold;
    color: #FFF;
  }
}

#previews {
  max-height: 60%;
  .render-btns {
    padding: 10px;
    button {
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 1px #878787;
    background: #333;
    &:disabled {
      background: #424242;
      color: #666;
      }
    }
  }

  .preview-window {
    padding: 10px;
    max-height: 90%;
  }
  .image360preview {
    position: absolute;
    right: 30px;
  }
  .preview-window-inner {
    background: #252525;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
  }
  .preview-images {
    ul li {
      display: inline-block;
      min-width: 200px;
      min-height: 200px;
      text-align:center;
      vertical-align: middle;
      &>div {
        margin-top: 50px;
      }
    }
    img {
      width: 200px;
      height: 200px;
    }
  }
  .preview-images-360 {
    height: 100%;
    text-align:center;
    img {
      height: 100%;
    }

  }

}


.material-selection {

  .shader-title {
    display: inline-block;
    font-weight: bold;
    margin-bottom:10px;
  }
  .shader-sample {
    width: 80px;
    height: 80px;
  }

  .material-shaders {

  }

  .material-images {
    display: flex;
    li {
      margin-right: 10px;
      margin-bottom: 10px;
      a {
        display: block;
        cursor: pointer;
        &.active {
          border:2px solid #FFF;
        }
      }
    }
  }
}